<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>BASIN - Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	

	    <!-- Loading Bootstrap -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="css/flat-ui.css" rel="stylesheet">

    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body >
    <div class="container">
      <div class="row demo-row">
		<div class="span9">
		<h1 class="demo-logo">
		BASIN
		<small>A Database for Gene Regulatory Networks</small>
		</h1>
		</div>
		
		<div class="span3">
			<center>
			<br>
			{% if user %}
			<img src="http://www.gravatar.com/avatar/{{ emailhash }}?d=mm"></img><br><br>
			Welcome {{ user.username }}!<br>
			<a href="logout">Logout</a>
			{% else %}
			<img src="http://www.gravatar.com/avatar/?d=mm"></img><br><br>
			You are not logged in.<br>
			<a href="login">Login</a> or <a href="register">Register</a>
			{% endif %}
			</center>
		</div>
      </div>

	       <div class="row demo-row">
        <div class="span12">
          <div class="navbar navbar-inverse">
            <div class="navbar-inner">
              <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01"></button>
                <div class="nav-collapse collapse" id="nav-collapse-01">
                  <ul class="nav">
				  
                    <li>
                      <a href="#fakelink">
                        Home Page
                      </a>
                    </li>
					

					
                    <li>
                      <a href="#fakelink">
                        About
                      </a>
                    </li>
					
                  </ul>
                </div><!--/.nav -->
              </div>
            </div>
          </div>
        </div>

      </div> <!-- /row -->
	  
	    <div class="row demo-tiles">
			<div class="span3">
			  <div class="tile">
				<img src="images/icons/graph.png" alt="Compas@2x" class="tile-image big-illustration">
				<h3 class="tile-title">Pathway Commons</h3>
				<p>Homo Sapiens BioPAX Data</p>
				<a class="btn btn-primary btn-large btn-block" href="">Explore Network</a>
			  </div>
			</div>


		</div> <!-- /tiles -->


    </div> <!-- /container -->

    <footer>
      <div class="container">
        <div class="row">
          <div class="span7">
          </div> <!-- /span8 -->

          <div class="span5">
            <div class="footer-banner">
              <h3 class="footer-title">Links</h3>
              <ul>
                <li><a href="http://www.tgen.org/">Translational Genomic Research Institute<a></li>
                <li><a href="http://www.pathwaycommons.org/pc/">Pathway Commons</a></li>
              </ul>
              Theme: Flat-UI by DesignModo - <a href="http://designmodo.github.io/Flat-UI/" target="_blank">http://designmodo.github.io/Flat-UI/</a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    
    <!-- Load JS here for greater good =============================-->
    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="js/jquery.ui.touch-punch.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-select.js"></script>
    <script src="js/bootstrap-switch.js"></script>
    <script src="js/flatui-checkbox.js"></script>
    <script src="js/flatui-radio.js"></script>
    <script src="js/jquery.tagsinput.js"></script>
    <script src="js/jquery.placeholder.js"></script>
    <script src="js/jquery.stacktable.js"></script>
    <script src="http://vjs.zencdn.net/c/video.js"></script>
    <script src="js/application.js"></script>
  </body>
</html>
