<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>BASIN - Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


	
	
	    <!-- Loading Bootstrap -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="css/flat-ui.css" rel="stylesheet">

    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body  style="background-color: #1abc9c;" >
  
  <div class="container">
		  <div class="row demo-row">
			  <div class="span3"></div>
				
			   <div class="span6">
				<br><br><br>
					<form class="login-form" action="login" method="post">
					
							{% for error in errors %}
							<h4 style="color:#E74C3C;">{{ error }}</h4>
							{% endfor %}

						<div class="control-group">
						  <input type="text" class="login-field" value="{{ body.username }}" placeholder="User name" id="login-name" name="username"/>
						  <label class="login-field-icon fui-user" for="login-name"></label>
						</div>

						<div class="control-group">
						  <input type="password" class="login-field" value="" placeholder="Password" id="login-pass" name="password" />
						  <label class="login-field-icon fui-lock" for="login-pass"></label>
						</div>

						<input type="submit" class="btn btn-primary btn-large btn-block" value="Login" />
						
						<a class="login-link" href="register">Don't have an account?</a>
						<a class="login-link" href="resetpassword">Lost your password?</a>
						
					</form>
				</div>
			</div>
	</div>

    
    <!-- Load JS here for greater good =============================-->
    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="js/jquery.ui.touch-punch.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-select.js"></script>
    <script src="js/bootstrap-switch.js"></script>
    <script src="js/flatui-checkbox.js"></script>
    <script src="js/flatui-radio.js"></script>
    <script src="js/jquery.tagsinput.js"></script>
    <script src="js/jquery.placeholder.js"></script>
    <script src="js/jquery.stacktable.js"></script>
    <script src="http://vjs.zencdn.net/c/video.js"></script>
    <script src="js/application.js"></script>
  </body>
</html>
