<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>BASIN - Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="css/flat-ui.css" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.ico">

	
  </head>
  <body  style="background-color: #1abc9c;" >
  
  <div class="container">
		  <div class="row demo-row">
			  <div class="span4"></div>
				
			   <div class="span5">
				<br><br><br>
					  <form class="login-form" action="register" method="post">
						{% for error in errors %}
						<h4 style="color:#E74C3C;">{{ error }}</h4>
						{% endfor %}
						
						 <input type="text" class="login-field" value="{{ body.username }}" placeholder="User name" name="username" />

						 <input type="password" class="login-field" value="" placeholder="Password" name="pass1" />
						 
						 <input type="password" class="login-field" value="" placeholder="Confirm Password" name="pass2" />
						 
						 <input type="text" class="login-field" value="{{ body.email }}" placeholder="Email Address" name="email" />
						 
						 <br><br><br>
						 
						  <input type="text" class="login-field" value="{{ body.name }}" placeholder="Name (Optional)" name="name" />
						  <input type="text" class="login-field" value="{{ body.organization }}" placeholder="Organization (Optional)" name="organization" />
						<input type="text" class="login-field" value="{{ body.occupation }}" placeholder="Occupation (Optional)" name="occupation" />
						
						
						<script type="text/javascript"
							 src="http://www.google.com/recaptcha/api/challenge?k={{ public_key }}">
						  </script>
						  <noscript>
							 <iframe src="http://www.google.com/recaptcha/api/noscript?k={{ public_key }}"
								 height="300" width="500" frameborder="0"></iframe><br>
							 <textarea name="recaptcha_challenge_field" rows="3" cols="40">
							 </textarea>
							 <input type="hidden" name="recaptcha_response_field"
								 value="manual_challenge">
						  </noscript>
						  <br>
						
						<input type="submit" class="btn btn-primary btn-large btn-block" value="Register" />
						
						<a class="login-link" href="login">Already have an account? Log in.</a>
					  </form>
				</div>
			</div>
	</div>

    
    <!-- Load JS here for greater good =============================-->
    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="js/jquery.ui.touch-punch.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-select.js"></script>
    <script src="js/bootstrap-switch.js"></script>
    <script src="js/flatui-checkbox.js"></script>
    <script src="js/flatui-radio.js"></script>
    <script src="js/jquery.tagsinput.js"></script>
    <script src="js/jquery.placeholder.js"></script>
    <script src="js/jquery.stacktable.js"></script>
    <script src="http://vjs.zencdn.net/c/video.js"></script>
    <script src="js/application.js"></script>
  </body>
</html>
